/* custom styles go here */

/* spacing for bottom nav */
body {
    padding-bottom: 80px;
}

/*icons */
.search-icon {
    margin-left: auto;
}

i {
    color: black;
    margin-left: auto;
}

/* List items */
.route-group, .filter, .list-item {
    width: 100%;
    padding-top: 15px;
    border-bottom: 1px solid gray;
}

.last-list-item {
  width: 100%;
  padding-top: 15px;
  border: none;
}

/* route stuff */
.route-detail-area {
    background-color: gainsboro;
    color: black;
}

.inbound-label {
    margin-right: 45px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #f321f3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #f321b4;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

  /* Button */
.btn-primary{
    background-color: #d60c8c;
    border-color: #d60c8c;
}
.btn-primary:hover{
    background-color: #ce5ba4;
    border-color: #ce5ba4;
}
